/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM PROPERTY */
:root {
    --roboto-font: "Roboto", "Arial", sans-serif;
    --text-color: #333;
    --black-color: #000;
    --white-bg-color: #fff;
    --white-text-color: #fff;
    --primary-color: #0a775f;
    --secondary-color: #c99b67;
}

/* GLOBAL STYLES */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 1px solid var(--primary-color);
    outline-offset: 4px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--roboto-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
    background-color: var(--white-bg-color);
}
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER STYLES */
.header {
    background-image: url("../images/jpg/header-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-top {
    padding: 40px 0px;
}
.header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo {
    display: flex;
}
.site-logo:hover {
    opacity: 0.8;
}
.site-logo:active {
    opacity: 0.6;
}
.site-logo__img {
    width: 235px;
    height: 24px;
    object-fit: contain;
    object-position: center;
}
.sitenav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.sitenav__item:not(:last-child) {
    margin-right: 40px;
}
.sitenav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
}
.sitenav__link:hover {
    color: var(--primary-color);
}








@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .header {
        background-image: url("../images/jpg/header-bg-img@2x.jpg");
    }
}